:root {
  --background-color: #ADE28A;
  --font-family: sans-serif, Roboto;
  --grid-gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  padding: 10px;
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Agora são apenas 2 colunas */
  grid-template-rows: auto auto; /* 2 linhas */
  grid-gap: var(--grid-gap);
  width: 100%;
  max-width: 100%;
}

/* Remova as bordas dos elementos dentro do grid */
#grid-item1,
#grid-item2,
.rodape {
  border: none;
}

.rodape {
  grid-row: 3; /* Coloque o rodapé na terceira linha do grid */
  grid-column: 1 / -1; /* Estenda o rodapé por todas as colunas */
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%; /* Certifique-se de que o rodapé ocupe toda a largura */
  position: fixed; /* Fixe o rodapé na parte inferior da tela */
  bottom: 0; /* Alinhe o rodapé na parte inferior */
  left: 0;
}