.container {
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 20px;
	overflow: hidden;
	opacity: 0;
	animation: fadeIn 2s ease-in-out forwards;
	width: 80%;
	height: 80%;
}