.containerMain {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	border-radius: 20px;
	overflow: hidden;
	opacity: 0;
	animation: fadeIn 2s ease-in-out forwards;
	width: 80%;
	height: 80%;
  justify-content: center;
}
.containerMain img {
	display: block;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
@keyframes fadeIn {
	from {
	opacity: 0;
	} to {
	opacity: 1;
    animation-duration: 0.1s;
    }
}

.containerMain{   
    width: 600px;
    height: 400px;
    background-color: #256670;
    border-radius: 20px;
    margin-top: 20px;
}


#TituloHome {
    display: inline-block;
    font-size: 35px;
    font-weight: bold;
    color: #ADE28A;
    position: 1;
    margin-top: -50px;
    margin-left: 30px;
  }
  #SubtituloHome {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #ADE28A;
    margin-left: 210px;
  }
  
  img {
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
    position: under;
  }
  