.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Cria três áreas, uma para o cabeçalho, uma para o conteúdo e uma para o rodapé */
    height: 100vh; /* Alterado para 'height' em vez de 'min-height' para ocupar 100% da tela */
  }
  
  .menu {
    position: relative;
    z-index: 2;
  }
  
  .content {
    position: relative;
    z-index: 2;
    /* Adicione seu estilo de conteúdo aqui */
  }
  
  .rodape {
    position: relative;
    z-index: 2;
    width: 100%;
    gap: 0;
  }
  
  .menu {
    position: absolute; /* Define a posição como fixa */
  }