.app-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  .menu {
    position: absolute;
    z-index: 3;
  }

  .corpo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: none;
  }
  
  .content {
    grid-row: 1;
    grid-column: 1/4;
    position: relative;
    z-index: 2;
    /* Adicione seu estilo de conteúdo aqui */
  }
  
  .rodape {
    text-align: center;
    position: relative;
    grid-row: 3;
    grid-column: 1/4;
    z-index: 2;
    width: 100%;
    gap: 0;
  }

 
  
  .menu {
    position: absolute; /* Define a posição como fixa */
  }
  